// Center
#center-con {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow: visible;

    // animation-delay: 5s;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(.83, 0, .08, .52);
    animation-name: go-big;
    animation-fill-mode: forwards;
}

.pic-con {
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.83, 0, .08, .52);
    animation-name: go-up;
    animation-fill-mode: forwards;
    overflow: visible;

}

.pic-con>img {
    width: 100vw;
    height: 100vh;
}

@keyframes go-big {
    from {
        transform: scale(0.2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes go-up {
    from {
        transform: translateY(300vh);
    }

    to {
        transform: translateY(0);
    }
}


// @for $i from 1 through 5 {
//     .pic-con:nth-child(#{$i}) {
//         animation-delay: calc($i * 500ms);
//         // animation-duration: 3s;
//         // animation-timing-function: cubic-bezier(.83, 0, .08, .52);
//         // animation-name: go-up;
//         // animation-fill-mode: forwards;

//         // animation-delay: 3s;
//         // animation: 3s cubic-bezier(.83, 0, .08, .52) go-up forwards;

//         // bottom: -260px * $i
//     }
// }