<div id="tray-con">
    <img class="img-con" src="assets/images/0.jpg" unselectable="on" draggable="false">
    <img class="img-con" src="assets/images/1.jpg" unselectable="on" draggable="false">
    <img class="img-con" src="assets/images/2.jpg" unselectable="on" draggable="false">
    <img class="img-con" src="assets/images/3.jpg" unselectable="on" draggable="false">
    <img class="img-con" src="assets/images/4.jpg" unselectable="on" draggable="false">
    <img class="img-con" src="assets/images/5.jpg" unselectable="on" draggable="false">
    <img class="img-con" src="assets/images/6.jpg" unselectable="on" draggable="false">
    <img class="img-con" src="assets/images/7.jpg" unselectable="on" draggable="false">
</div>