<div id="tray-con">
    <div class="img-con"><img src="assets/images/0.jpg" draggable="false"></div>
    <div class="img-con"><img src="assets/images/1.jpg" draggable="false"></div>
    <div class="img-con"><img src="assets/images/2.jpg" draggable="false"></div>
    <div class="img-con"><img src="assets/images/3.jpg" draggable="false"></div>
    <div class="img-con"><img src="assets/images/4.jpg" draggable="false"></div>
    <div class="img-con"><img src="assets/images/5.jpg" draggable="false"></div>
    <div class="img-con"><img src="assets/images/6.jpg" draggable="false"></div>
    <div class="img-con"><img src="assets/images/7.jpg" draggable="false"></div>
</div>