
$track-height: 53vh;
$img-width: 37vmin;
$gap: 3vmin;

#tray-con {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: absolute;
    top: calc(50% - ($track-height / 2));
    left: calc(50%);
    display: flex;
    flex-direction: row;
    gap: $gap;
    height: $track-height;
}

.image {
    object-fit: cover;
    width: $img-width;
    overflow: hidden;
}

.image-big {
    object-fit: cover;
    position: fixed;
    z-index: 2;
    visibility: hidden;
}

.fs-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 30vw;
    z-index: 11;
    overflow: hidden;
}

.fs-title>h1 {
    color: white;
    transform: translateY(200%);
}

#center {
    height: 3vmin;
    width: $img-width;
    background: lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

