<div id="tray-con">
    <img id="0" class="image" src="assets/images/0.jpg" unselectable="on" draggable="false">
    <img id="1" class="image" src="assets/images/1.jpg" unselectable="on" draggable="false">
    <img id="2" class="image" src="assets/images/2.jpg" unselectable="on" draggable="false">
    <img id="3" class="image" src="assets/images/3.jpg" unselectable="on" draggable="false">
    <img id="4" class="image" src="assets/images/4.jpg" unselectable="on" draggable="false">
    <img id="5" class="image" src="assets/images/5.jpg" unselectable="on" draggable="false">
    <img id="6" class="image" src="assets/images/6.jpg" unselectable="on" draggable="false">
    <img id="7" class="image" src="assets/images/7.jpg" unselectable="on" draggable="false">
</div>
<img id="0b" class="image-big" src="assets/images/0.jpg" unselectable="on" draggable="false">
<img id="1b" class="image-big" src="assets/images/1.jpg" unselectable="on" draggable="false">
<img id="2b" class="image-big" src="assets/images/2.jpg" unselectable="on" draggable="false">
<img id="3b" class="image-big" src="assets/images/3.jpg" unselectable="on" draggable="false">
<img id="4b" class="image-big" src="assets/images/4.jpg" unselectable="on" draggable="false">
<img id="5b" class="image-big" src="assets/images/5.jpg" unselectable="on" draggable="false">
<img id="6b" class="image-big" src="assets/images/6.jpg" unselectable="on" draggable="false">
<img id="7b" class="image-big" src="assets/images/7.jpg" unselectable="on" draggable="false">
<div id="center"></div>