:root {
    --bg-color: rgb(20, 20, 20);
    --card-bg-color: rgb(23, 23, 23);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}