@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300&display=swap');

:root {
    font-family:  "Lato", sans-serif;
    font-size: x-large;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.92);
}